mixin tag(item)
  - customerClass = item.regCustomer ? ' js-tag-customer' : '';
  - distribClass = item.regDistrib ? ' js-tag-distrib' : '';
  - activeClass = item.active ? ' tag--active' : '';

  if item.link
    a(href= item.link.href class= 'tag' + customerClass + distribClass + activeClass)
      span.tag__title= item.title
      span.tag__close
  else
    div(class= 'tag' + customerClass + distribClass + activeClass)
      .tag__title= item.title
      .tag__close

mixin tagSale(item)
  .tag(data-value=item.value)
    .tag__title!=item.title
    .tag__close

mixin tagOrderHistory(item)
  - activeClass = item.active ? ' tag--active' : '';

  if item
    div(class= 'stepsSale')
      div(class= 'tag' + activeClass)
        if item.title
          .tag__title!=item.title
      if item.dateStart
        div(class= 'dateStartStep')
          .dateStart__title!=item.dateStart.title
          .dateStart__date!=item.dateStart.date
      if item.shipmentDate
        div(class= 'dateShipmentStep')
          .shipmentDate__title!=item.shipmentDate.title
          .shipmentDate__start!=item.shipmentDate.start
          .shipmentDate__end!=item.shipmentDate.end
