mixin userHeaderBlock(title,arrayData,buttons)
  .userHeaderBlock
    .userHeaderBlock__wrap
      if title
        .userHeaderBlock__title!=title
      if arrayData
        .userHeaderBlock__data.uhbData
          each item in arrayData
            .uhbData__item
              .uhbData__name!=item.name
              .uhbData__value!=item.value
      .userHeaderBlock__button
        each button in buttons
          if button.type=='edit'
            a(
              href=button.href
              data-popupname=button.dataPopupname
              class=button.class
            ).button.buttonEdit!=button.label
          else if button.type=='delete'
            a(
              href=button.href
              data-popupname=button.dataPopupname
              class=button.class
            ).button.buttonDelete
              em: svg: use(xlink:href="#svg-button-delete")
              span!=button.label