include ../personCard/personCard.pug
include ../messageCompatible/messageCompatible.pug

mixin userHeaderBlock(title,arrayData,buttons)
  .userHeaderBlock
    .userHeaderBlock__wrap
      if title
        .userHeaderBlock__title!=title
      if arrayData
        .userHeaderBlock__data.uhbData
          each item in arrayData
            if item.type == 'data' || item.type == undefined
              .uhbData__item.uhbData__item--data
                .uhbData__name!=item.name
                .uhbData__value!=item.value
            else if item.type == 'notAttached'
              .uhbData__item.uhbData__item--notAttached
                .uhbData__name!=item.name
                .uhbData__value!=item.value
            else if item.type == 'dataDisabled'
              .uhbData__item.uhbData__item--dataDisabled
                .uhbData__name!=item.name
                .uhbData__value!=item.value
            else if item.type == 'dataEmployee'
              .uhbData__item.uhbData__item--dataEmployee
                .uhbData__name!=item.name
                .uhbData__value!=item.value
            else if item.type == 'link'
              .uhbData__item.uhbData__item--link
                .uhbData__name!=item.name
                a.uhbData__value(href=item.value.href)!=item.value.title
            else if item.type == 'date'
              .uhbData__item.uhbData__item--date
                .uhbData__name!=item.name
                .uhbData__value
                  .uhbData__dateList
                    each dateItem in item.value
                      .uhbData__dateItem!=dateItem
                  .uhbData__dateCalendar
            else if item.type == 'person'
              .uhbData__item.uhbData__item--person
                .uhbData__name!=item.name
                .uhbData__value
                  +personCard(
                    item.value.image,
                    item.value.fio,
                    item.value.position,
                    item.value.telephone,
                    item.value.fax,
                    item.value.mobile,
                    item.value.email
                  )
            else if item.type == 'warning'
              .uhbData__item.uhbData__item--warning
                .uhbData__icon-close
                .uhbData__value
                  +messageCompatible(
                    'big',
                    'incorrect',
                    'Внимание!',
                    'Ваш заказ не привязан к объекту. Пожалуйста, привяжите заказ к объекту.'
                  )
            else if item.type == 'separator'
              .uhbData__item.uhbData__item--separator
            else if item.type == 'checkbox'
              - finishedCheck = false;
              each check in item.value
                if (check.value == 'finished' && check.checked == true)
                  - finishedCheck = true;
              .uhbData__item--checkbox.js-user-sale-status(
                class=finishedCheck ? 'uhbData__item--checkboxFinished' : ''
              )
                .uhbData__item.uhbData__item--checkboxWrap
                  .uhbData__name!=item.name
                  .uhbData__value
                    .form-group.form-group--checkbox
                      .form-checkboxGroup
                        each check in item.value
                          label.label.label--checkbox.label--aka-radio
                            input(type='radio' name=check.name value=check.value checked=check.checked).form-control
                            .icon.icon--checkbox
                            .label__text!=check.title
      if buttons
        .userHeaderBlock__button
          each button in buttons
            if button.type=='edit'
              a(
                href=button.href
                data-popupname=button.dataPopupname
                class=button.class
              ).button.buttonEdit!=button.label
            else if button.type=='delete'
              a(
                href=button.href
                data-popupname=button.dataPopupname
                class=button.class
              ).button.buttonDelete
                em: svg: use(xlink:href="#svg-button-delete")
                span!=button.label