mixin accordion-connect(item, index)

  //-доп.класс на вложенный аккордеон
  - innerClass = item.inner ? 'accordion__item accordion__item--parent js-accordion__item' : 'accordion__item js-accordion__item'
  div(class= innerClass)

    //-пункты главного аккордеона
    - simpleHeader = index || item.icon ? 'accordion__header js-accordion__header' : 'accordion__header accordion__header--simple js-accordion__header'
    a(href="javascript:void(0);" class= simpleHeader style= item.bgsol ? "background-color: #" + item.bgsol : '')
      if item.icon
        div(class='icon icon--' + item.icon)
      else if index
        .accordion__num.js-accordion__num= index + 1 + '.'
      - careerClass = item.career ? 'accordion__title accordion__title--career' : 'accordion__title'
      div(class= careerClass)= item.title
      if item.career
        .accordion__career
          .accordion__career-salary= item.career[0].salary
          .accordion__career-type= item.career[0].type
      .accordion__toggle.js-accordion__toggle

    //-контент главного аккордеона
    .accordion__content.js-accordion__content.text-editor

      //-если есть вложенный аккордеон
      if item.inner
        each unit in item.inner
          .accordion__inner.js-accordion__inner
            a(href="javascript:void(0);").accordion__inner-header.js-accordion__inner-header
              .accordion__inner-title= unit.title
              .accordion__inner-trigger
            .accordion__inner-content.js-accordion__inner-content
              != unit.content

              //-закрытие вложенного аккордеона
              .accordion__close
                a(href="javascript:void(0);").accordion__close-text.js-accordion__close-inner Свернуть
      else
        if item.content
          != item.content
        else
          block
      //-закрытие главного аккордеона
      .accordion__close.js-accordion__close
        a(href="javascript:void(0);").accordion__close-text.js-accordion__close-text Свернуть
      if item.career
        .accordion__button: a(href= item.career[0].link data-popupname="career").button.js-popup-open ответить на вакансию