mixin sale-item(item, odd)
  a(href= item.link.href class= item.img ? 'catalog__item' : 'catalog__item catalog__item--no-media')
    .catalog__item-sign(style= item.color ? 'background-color: ' + item.color + ';' : 'background-color: #A1BF35;')
    if (odd <= 1)
      .catalog__item-wrap
        .title= item.title
        .descr= item.description
        .catalog__item-footer
          .link= item.link.title
          .date= item.date
      if item.img
        .catalog__item-media: .pic
          img(src= item.img).pic__img
          if item.play
            .pic__link
              .icon.icon--play
              .pic__link-text= item.play.title
    else
      if item.img
        .catalog__item-media: .pic
          img(src= item.img).pic__img
          if item.play
            .pic__link
              .icon.icon--play
              .pic__link-text= item.play.title
      .catalog__item-wrap
        .title= item.title
        .descr= item.description
        .catalog__item-footer
          .link= item.link.title
          .date= item.date