extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
    .content__text-editor.emunit.aruna
      .container.emunit__top
        .row
          .col-sm-6.emunit__top-left
            include ../../components/gallery/gallery
            +gallery()
          .col-sm-6.emunit__top-right
            .emunit__top-right-articul Артикул: а15744
            include ../../pages/common/emunit-parts-common
            if isDesktop
              .emunit__top-right-links
                a(href="javascript:void(0);"
                  class="link link--more-action hint hint--white hint--bottom hint--aruna"
                  aria-label="Текстовая подсказка для статуса позиции. Примечание автора, статусы бывают: Складской, Комплектация, Заказной, Распродажа остатков, В разработке.") Заказной
                .emunit__top-right-links-wrap
                  a(href="javascript:void(0);"
                    class="link link--more-action hint hint--white hint--bottom hint--aruna"
                    aria-label="Для определения сроков изготовления и поставки этого товара добавьте товар в корзину и отправьте нам заказ. Наш менеджер уточнит информацию, свяжется с вами и сообщит срок изготовления/поставки товара.") Нет в наличии
                  span (Добавьте в заказ для определения сроков поставки)
            else
              .emunit__top-right-price
                .price: .price__item
                  .price__currency: a(href="javascript:void(0);" class= isDesktop ? "link link--more-action" : "link link--more-action js-popup-open" data-popupname="hintprice") Цена (руб.)
                  .price__value 4700,00
              .emunit__top-right-links
                .emunit__top-right-links-wrap
                  a(href="javascript:void(0);" class= isDesktop ? "link link--more-action" : "link link--more-action js-popup-open" data-popupname="hintoutstock") Нет в наличии
                  span (Добавьте в заказ для определения сроков поставки)
                a(href="javascript:void(0);" class= isDesktop ? "link link--more-action" : "link link--more-action js-popup-open" data-popupname="hintregistered") Заказной
              if isDesktop
                .emunit__top-right-price
                  .price-wrap
                    .price-descr.props
                      .props__item
                        .props__name Единица измерения:
                        .props__value штуки
                    .price: .price__item
                      .price__value 4700,00
                      .price__currency: a(href="javascript:void(0);"
                        class="link link--more-action hint hint--white hint--bottom hint--aruna"
                        aria-label="Текстовая подсказка для \"цена\", текст появляется при наведении/клике в слово \"Цена\""
                        ) Цена (руб.)
              .emunit__top-right-wrap
                .count.js-count
                  .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
                  .count__item: input(type="number" value="1" max="999").count__input.form-control.js-input-number
                  .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
                if isMobile
                  .price-descr.props
                    .props__item
                      .props__name Единица измерения:
                      .props__value штуки
                button(data-popupname="addcart").button.emunit__models-button-fill.js-popup-open в корзину
                button(data-popupname="specreg").button.button--empty.emunit__models-button-empty.js-popup-open В спецификацию
            .emunit__top-right-compare
              a(href="javascript:void(0);").link.link--icon.link--icon-path-fill
                .icon.icon--inline.icon--chart: include ../../images/chart.svg
                .link__text Сравнить
              a(href="javascript:void(0);").link.link--icon.link--icon-path-fill
                .icon.icon--inline.icon--compare: include ../../images/compare.svg
                .link__text Сравнить выбранное
              //-a(href="javascript:void(0);" style='display:none').link.link--icon.link--icon-path-fill
                .icon.icon--close.icon--close-primary.icon--close-medium
                .link__text Удалить из сравнения
            .emunit__top-right-proj
              a(href="javascript:void(0);").link.link--icon.link--icon-path-fill
                .icon.icon--inline.icon--stack: include ../../images/stack.svg
                .link__text Проекты со световыми приборами серии ARUNA
            .emunit__top-links
              .emunit__top-links-wrap
                a(href="javascript:void(0);").link.link--icon
                  .icon.icon--inline.icon--list-empty: include ../../images/list-empty.svg
                  .link__text Сохранить в PDF
                a(href="javascript:void(0);").link.link--icon
                  .icon.icon--inline.icon--print: include ../../images/print.svg
                  .link__text Распечатать
                div(class= isDesktop ? 'link link--icon js-stack-trigger' : 'link link--icon js-popup-open' data-popupname="stack")
                  .icon.icon--inline.icon--share: include ../../images/share.svg
                  .link__text Поделиться
                  if isDesktop
                    .link__wrap: include ../../pages/common/signone-share-common
      .container.emunit__middle
        .emunit__tabs.js-tabs
          .emunit__tabs-title
            a(href="javascript:void(0);").js-tabs-header-item.emunit__tabs-title-item.active Возможности для заказа
            a(href="javascript:void(0);").js-tabs-header-item.emunit__tabs-title-item Совместимые продукты
            a(href="javascript:void(0);").js-tabs-header-item.emunit__tabs-title-item Характеристики
            a(href="javascript:void(0);").js-tabs-header-item.emunit__tabs-title-item Техническая документация
          .emunit__tabs-content
            .emunit__tabs-content-item.emunit__models.js-tabs-content-item
            .emunit__tabs-content-item.emunit__models.js-tabs-content-item
              .emunit__models-temp-text Аксессуары и совместимые продукты для данной товарной позиции не предусмотрены
              if isMobile
                .emunit__models-temp-button: button.button Возможности для заказа
            .emunit__tabs-content-item.emunit__models.js-tabs-content-item
              .emunit__models-table.text-editor: .emunit__models-table-wrap: table.table
                thead
                  tr
                    td.table-td-center.table-td-thead Параметры
                    td.table-td-link
                      a(href="javascript:void(0);").link.link--icon.link--icon-path-fill
                        .icon.icon--inline.icon--info: include ../../images/info.svg
                        .link__text BS-ARUNA-81-L1-INEXI2
                tbody
                  tr
                    td Артикул
                    td а15324
                  tr
                    td(colspan="4").table-td-gray.table-td-thead.table-td-left Аварийный режим и функции управления
                  tr
                    td Нормируемая продолжительность аварийной работы, ч
                    td 1
                  tr
                    td.table-td-bold Источник питания
                    td INEXI-2N
                  tr
                    td 2 клеммы подключения слаботочной сети дистанционного устройства управления и тестирования BS-TELECONTROL-2 ГОСТ IEC 60598-2-22-2012
                    td +
            .emunit__tabs-content-item.emunit__models.js-tabs-content-item
              include ../common/aruna-polygraphy-common
          .emunit__tabs-footer
            if isMobile
              .emunit__tabs-footer-product
                .emunit__top-right-price
                  .emunit__top-right-price-wrap
                    .emunit__top-right-price-title Склад компании «Белый свет», г.&nbsp;Москва
                    .price-wrap
                      .price: .price__item
                        .price__value 4700,00
                  .emunit__tabs-footer-product-props
                    .emunit__tabs-footer-product-props-item В наличии (2 345)
                    .emunit__tabs-footer-product-props-item Заказной
                  .emunit__top-right-wrap
                    .count.js-count
                      .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
                      .count__item: input(type="number" value="1" max="999").count__input.form-control.js-input-number
                      .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
                    .price-descr.props
                      .props__item
                        .props__name Единица измерения:
                        .props__value штуки
                    button(data-popupname="addcart").button.emunit__models-button-fill.js-popup-open в корзину
                    button(data-popupname="specreg").button.button--empty.emunit__models-button-empty.js-popup-open В спецификацию
                .emunit__top-right-price-bottom Интернет-магазины партнеров
            .emunit__tabs-footer-table-wrap: .emunit__tabs-footer-table.text-editor: table.table
              thead
                if isDesktop
                  tr
                    td(rowspan=2) Склад компании «Белый свет», г. Москва
                    td.table-td-center Остаток на складе, шт
                    td.table-td-center Статус позиции
                    td.table-td-center Цена 4 700,00 руб.
                  tr
                    td.table-td-tbody 2 345
                    td.table-td-tbody Заказной
                    td.emunit__tabs-footer-buttons
                      .count.js-count
                        .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
                        .count__item: input(type="number" value="1" max="999").count__input.form-control.js-input-number
                        .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
                      button.button.emunit__models-button-fill в корзину
                      button.button.button--empty.emunit__models-button-empty В спецификацию
                  tr
                    td(colspan=4).table-td-gray Интернет-магазины партнеров
                tr
                  td.aruna-partners-filter: include ../common/aruna-partners-common
                  td
                    | Остаток на складе, шт
                    .sort: .icon.icon--inline.icon--sort: include ../../images/sort.svg
                  td.aruna-partners-filter: include ../common/aruna-cities-common
                  td Ссылка на интернет-магазин
              tbody
                tr
                  td «Русский свет»
                  td 1
                  td г. Москва
                  td www.rs24.ru
                tr
                  td «Русский свет»
                  td 22
                  td г. Москва
                  td www.e-shop.rs24.ru
                tr
                  td Интернет-магазин
                  td 456
                  td Московская область г. Балашиха
                  td www.Internet-light.ru
                tr
                  td «Свет-привет»
                  td 97 531
                  td Москвоская область г. Мытищи
                  td www.hi-light.ru
                tr
                  td «ЛЕД-Свет»
                  td 1
                  td г. Великие Луки
                  td www.Internet-light5.ru


    .aruna-bottom: include ../../pages/common/aruna-item-common