include ../../components/tag/tag

mixin news(item)
  a(href= item.link.href).catalog__item
    +tag(item.tag)
    .title= item.title
    .descr= item.description
    .catalog__item-box
      if isDesktop
        .link= item.link.title
        .date= item.date
      else
        .date= item.date
        .link= item.link.title
    .catalog__item-sign(style= item.color ? 'background-color: ' + item.color + ';' : 'background-color: #A1BF35;')