include ../crumbs/crumbs
.content__header

  if page === 'press-inner'
    .content__top
      a(href="javascript:void(0);").link.link--back
        .link__icon: include ../../images/arrow-right-small.svg
        .link__text К списку статей и публикаций
      .stack
        .stack__title Поделиться:
        .stack__links
          script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
          script(src="//yastatic.net/share2/share.js")
          .ya-share2(data-services="facebook,twitter" data-size="s")
    .content__middle
      .press-inner-data Сентябрь 2017

    .content__bottom
      h1.title!= pageName

  else if page === 'project-inner'
    .content__top
      a(href="javascript:void(0);").link.link--back
        .link__icon: include ../../images/arrow-right-small.svg
        .link__text К списку проектов
      .stack
        .stack__title Поделиться:
        .stack__links
          script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
          script(src="//yastatic.net/share2/share.js")
          .ya-share2(data-services="facebook,twitter" data-size="s")
    .content__middle
      .press-inner-data г. Москва

    .content__bottom
      h1.title!= pageName
      a(href="javascript:void(0);").link Посмотреть отзыв

  else if page === 'emunit'
    .content__top.content__top--emunit: include ../../pages/common/tagline
    .content__bottom
      h1.title!= pageName

  else if page === 'signone'
    .content__top.content__top--signone: include ../../pages/common/tagline
    .content__bottom
      h1.title!= pageName

  else if page === 'solution'
    .content__top.content__top--signone: include ../../pages/common/tagline
    .content__top-links
      a(href="javascript:void(0);").link.link--icon
        .icon.icon--inline.icon--pencil: include ../../images/pencil.svg
        .link__text Заявка на составление технического задания
      a(href="javascript:void(0);").link.link--icon
        .icon.icon--inline.icon--stack: include ../../images/stack.svg
        .link__text Реализованные проекты
      a(href="javascript:void(0);").link.link--icon
        .icon.icon--inline.icon--video: include ../../images/video.svg
        .link__text Видео
    .content__bottom
      h1.title!= pageName

  else
    div(class= pageDescr ? 'content__bottom content__bottom--descr' : 'content__bottom')
      h1.title!= pageName
      if pageDescr
        .descr!= pageDescr